@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

body{
	font-family: "Spline Sans Mono", monospace;
	margin: 0;
}

h1,h2,h3{
	color: rgb(245,123,32);
	color: black;
	font-family:  "Caladea", serif;
	letter-spacing: 8px;
	text-align: center;
}
p{
	color: white;
	mix-blend-mode: difference
}

a{
	transition: color 0.25s;
}

a:link{
	color: rgb(245,123,32);
}
a:visited{
	color: rgb(245,123,32);
}
a:hover{
	color: rgb(255,140,50);
}
a:active{
	color: rgb(220,105,15);
}

header{
	font-family: "Caladea", serif;
	text-align: center;
	color: rgb(245,123,32);
	padding: 10px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.75);
	
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

header div.container-fluid{
	width: 95%;
}

header h1{
	font-size: 2em;
	letter-spacing: 1.2vw;
	color: black;
	text-align: left;
	padding: 8px 0;
}

header .col-sm-12 {
	height: 60px;
}

header div{
	margin: auto auto;
}

.nav li a{
	text-decoration: none;
}

header a:link{
	color: black;
}

header a:visited{
	color: black;
}

header a:hover{
	color: rgb(245,123,32);
}

header a:active{
	color: rgb(220,105,15);
}

.nav {
	letter-spacing: 5px;
}

.nav ul{
	list-style-type: none;
	text-align: center;
	margin: auto 0px auto auto;
}

.nav li{
	float: left;
	display: inline;
	padding: 8px;
}

.size2 {
	font-size: 2em;
}

.logo {
	float: left;
	max-height: 60px;
	width: auto;
	margin: 0 10px 0 0;
}


.fa {
	font-size: 2em;
}

.home-hero{
	background-size: cover;
	width: 100%;
	height: auto;
}

.home-photo {
	width: auto;
	max-height: 300px;
	max-width: 80%;
}

.zoom{
	  --zoom: 1.0;
	  --x: 50%;
	  --y: 50%;
	  width: 300px;

	  transform: scale(var(--zoom));
	  transform-origin: var(--x) var(--y);
	  clip-path: inset(
		calc((1 - 1/var(--zoom)) * (var(--y)))
		calc((1 - 1/var(--zoom)) * (100% - var(--x)))
		calc((1 - 1/var(--zoom)) * (100% - var(--y)))
		calc((1 - 1/var(--zoom)) * (var(--x)))
	  );
	transition: transform 0.5s;
	z-index: 0;
}

.zoom:hover{
	--zoom: 3;
	cursor: crosshair;
}

div.background {
	width:100%;
	
	background-size: contain;
	opacity: 100%;
	z-index: -2;
}

main{
	position: relative;
	margin: 90px auto 0;
	color: black;
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	min-height: 90vh;
}

main div.row{
	margin-bottom: 30px;
}

main div.container-fluid{
	margin-top: 20px;
	max-width: 100%;
}


.products {
	display: grid;
	column-gap: 15px;
	grid-template-columns: repeat(auto-fill, 300px);
	text-align: left;
	margin: auto;
	place-content: center;
}

section.product {
	margin-bottom: 15px;
	background-image: url("images/productBack.png");
	border: black 4px solid;
	color: white;
	overflow: hidden;
	font-family: 'Merriweather';
	position: relative;
	display:inline-grid;
	width: 100%;
	height: 350px;
	text-align: center;
	transition: 0.4s;
}


footer{
	position: relative;
	width: 100%;
	bottom: 0px;
	border-top: black 3px solid;
	text-align: center;
	background-color: #151515;
	background: linear-gradient(90deg, black 0%, #151515 50%, black 100%);
	color: rgb(245,123,32);
}

footer ul{
	list-style-type: none;
	padding: 0;
	margin: auto
}
footer li{
	display: inline-block;
}

footer small{
	color: white;
	text-align: center;
	display: block;
	padding: 5px;
	width: 100%;
}


.center{
	text-align: center;
}


.gallery .preview{
    width: 100%;
    height: auto;
	
}

.gallery .gallery-thumbnails img {
	transition: opacity 1s;
    width: 100px;
    height: 75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: 0.8;
	border-bottom: rgb(255,140,50) 3px solid;
	transform: scale(1.05);
    cursor: pointer;
}

.gallery .preview img#preview {
    max-width: 100%;
    height: auto;
    margin: 10px auto !important;
    display: block !important;
	border: 15px solid white;
	box-shadow: 5px 5px 5px black;
}


/* Adjustments for Tablets */
@media only screen and (max-width: 1024px)
{
	h1{
		font-size: 1.8em;
	}
	
	header h1{
		font-size: 1.8em;
	}
	
}

/* Adjustments for Phones */
@media only screen and (max-width: 768px)
{
	h1{
		font-size: 1.5em;
	}
	header h1{
		display: none;
	}
	.nav{
		font-size: 14px;
	}
	.logo {
		margin: 0 5px 0 0;
	}
}