@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

body{
	font-family: "Spline Sans Mono", monospace;
	margin: 0;
}

h1,h2,h3{
	font-weight: normal;
	color: rgb(245,123,32);
	color: black;
	font-family:  "Caladea", serif;
	letter-spacing: 8px;
	text-align: center;
}


a{
	transition: color 0.25s;
}

a:link{
	color: rgb(245,123,32);
}
a:visited{
	color: rgb(245,123,32);
}
a:hover{
	color: rgb(255,140,50);
}
a:active{
	color: rgb(220,105,15);
}

header{
	font-family: "Caladea", serif;
	text-align: center;
	color: rgb(245,123,32);
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	border-bottom: 2px solid black;
}

header h1{
	font-size: 2em;
	letter-spacing: 1.2vw;
	color: black;
	text-align: center;
	margin: auto 0;
}

header a{
	text-decoration: none;
}

header a:link{
	color: black;
}

header a:visited{
	color: black;
}

header a:hover{
	color: rgb(245,123,32);
	text-decoration: none;
}

header a:active{
	color: rgb(220,105,15);
}

.nav a{
	margin: 22px 20px;
	letter-spacing: 5px;

}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.center{
	text-align: center;
}

.size2 {
	font-size: 2em;
}

.logo {
	max-height: 60px;
	width: auto;
	margin: auto 0;
}

#contact-pane{
	width: 90%;
	height: 80%;
	position: fixed;
	margin: 0 5%;
	overflow-y: auto !important;
	z-index: 5;
	background-color: rgb(20, 20, 40);
	color: white;
	border: 2px solid black;
	bottom: -100%;
	display: none;
}

#contact-pane button{
	background-color: rgb(20, 20, 40);
	border: 2px solid white;
	color: white;
}

#contact-pane button:hover{
	cursor: pointer;
	background-color: white;
	color: black;	
}

#emailForm{
	font-family: "Spline Sans Mono", monospace;
	font-weight: bold;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
}

#emailForm p{
	margin: 0 5%;
}

#emailForm input{
	font-family: "Spline Sans Mono", monospace;
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	font-size: 1.5rem;
}

#emailForm textarea{
	font-family: "Spline Sans Mono", monospace;
	width: 90%;
	height: 250px;
	margin: 10px auto;
	padding: 10px;
	font-size: 1.5rem;
	resize: vertical;
}

#emailForm button{
	margin: 10px auto;
	padding: 10px;
	font-size: 1.5rem;
	align-self: left;
}

#title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-top: 6px;
}

div.background {
	width:100%;
	
	background-size: contain;
	opacity: 100%;
	z-index: -2;
}

main{
	position: relative;
	margin: 70px auto 0;
	color: black;
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	min-height: 90vh;
}

button {
	font-family: "Spline Sans Mono", monospace;
	font-weight: bold;
	font-size: 2em;
	padding: 10px 15px;
	border: 2px solid black;
	background-color: white;
	transition: all 0.35s;
}

button:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

#banner {
	height: 700px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(10, 10, 20);
}

#banner h1{
	position: absolute;
	top: 90px;
	left: 3%;
	z-index: 1;
	color: white;
	font-size: 5em;
}

#banner button{
	font-family: "Caladea", serif;
	position: absolute;
	top: 500px;
	left: 3%;
	z-index: 1;
	color: rgb(10, 10, 20);
	background-color: rgb(255,193,92);
	font-size: 1.4em;
	padding: 15px;
	border: none;
	border-radius: 24px; 
	transition: all 0.25s;
}

#banner button:hover{
	color: white;
	background-color: rgb(255,223,122);
}

#banner button:active{
	color: rgb(10, 10, 20);
	background-color: rgb(225,163,62);
}

#banner p{
	width: 60%;
	color: white;
	font-size: 1.4em;
	padding: 3%;
}

#heroImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}


#featured{
	height: 400px;
	width: 100%;
	display: flex;
	flex-direction:column;
	justify-content: center;

	background-color: rgb(20, 20, 40);
	color: white;
}

.scroll-container{
	color: #0a84df;
	background-image: linear-gradient(180deg, rgba(50, 50, 140, 1), rgba(20, 20, 40, 1));
	overflow: hidden; /* Hide the scrollbar and extra content */
	width: 100%;
	white-space: nowrap; /* Prevent items from wrapping to the next line */
}

.scroll-content{
	display: flex;
	width: max-content; /* Ensure the div expands to fit all items */
	animation: scroll-left 20s linear infinite;
}

.scroll-content p{
	text-align:center;
	flex: 0 0 auto;
	width: 200px; /* Adjust based on your needs */
	padding: 18px;
	font-weight: bold;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* Shift by half to reset at the duplicate */
}



#projects{
	background-image: url("images/productBack.png");
	display: grid;
	gap: 150px;
	grid-template-columns: repeat(auto-fill, 300px);
	text-align: left;
	place-content: center;
}

.project-container{
	border: 2px solid black; 
	height:300px; 
	width: 300px; 
	background-color: white;
}

.project-container p{
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.project {
	transition: transform 0.5s;
}

.project:hover {
	transform: scale(1.5);
	z-index: 1;
}

.fproject {
	transition: transform 0.5s;
}

.fproject:hover {
	transform: translateY(-15px);
	z-index: 1;
}

#featured h1{
	color: white;
}


#products {
	background-image: url("images/productBack.png");
	padding-top: 100px;
	display: grid;
	column-gap: 150px;
	grid-template-columns: repeat(auto-fill, 300px);
	text-align: left;
	place-content: center;
}

section.product {
	margin-bottom: 150px;
	border: black 1px solid;
	font-family: 'Merriweather';
	position: relative;
	display:inline-grid;
	width: 100%;
	height: 350px;
	text-align: center;
}

section.product img{
	transition: transform 0.3s ease-in-out;
}

section.product img:hover {
	transform: scale(1.5);
}


footer{
	position: relative;
	width: 100%;
	bottom: 0px;
	border-top: black 3px solid;
	text-align: center;
	background-color: #151515;
	background: linear-gradient(90deg, black 0%, #151515 50%, black 100%);
	color: rgb(245,123,32);
}

footer ul{
	list-style-type: none;
	padding: 0;
	margin: auto
}
footer li{
	display: inline-block;
}

footer small{
	color: white;
	text-align: center;
	display: block;
	padding: 5px;
	width: 100%;
}




/* Adjustments for Tablets */
@media only screen and (max-width: 1024px)
{
	h1{
		font-size: 1.8em;
	}
	
	header h1{
		font-size: 1.8em;
	}
	
}

/* Adjustments for Phones */
@media only screen and (max-width: 768px)
{
	h1{
		font-size: 1.5em;
	}
	header h1{
		display: none;
	}
	.nav{
		font-size: 14px;
	}
	.logo {
		margin: 0 5px 0 0;
	}
}